.logo {
  text-align: center;
  display: flex;
  min-width: 100%;
  user-select: none;
  z-index: 1100;
}


.logo h1 {
  color: var(--text-color);
  font-weight: 500;
  font-size: 40px;
}


/* Tablets */
@media (max-width: 1024px) {
  .logo h1 {
    font-size: 32px;
  }
}

/* Mobile */
@media (max-width: 600px) {
  .logo h1 {
    font-size: 28px;
  }
}

/* Small mobile */
@media (max-width: 400px) {
  .logo h1 {
    font-size: 24px;
  }
}
